[submodule "thirdparty/miniupnp"]
    path = thirdparty/miniupnp
    url = https://ghproxy.com/https://github.com/miniupnp/miniupnp.git
    ignore = dirty
[submodule "thirdparty/libnatpmp"]
    path = thirdparty/libnatpmp
    url = https://ghproxy.com/https://github.com/miniupnp/libnatpmp.git
    ignore = dirty
[submodule "zstd"]
    path = zstd
    url = https://ghproxy.com/https://github.com/facebook/zstd.git
    ignore = dirty
    branch = v1.5.1
